.empty-list {
  font-size: 50px;
  text-align: center;
  color: grey;
}

.delete-button {
  border-radius: 100%;
  float: right;
}

input[type="checkbox"] {
  transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  padding: 10px;
}
